<p style="font-family:ebrima;">

<h2> <p style="font-family:ebrima;">Tammy Physique</h2>
<h4> <p style="font-family:ebrima;">To achieve lasting health we need to understand the importance of the body the mind and soul <br>
  and how they work together to build our overall wellbeing</h4>
<h5> <p style="font-family:ebrima;">
  A healthy body keeps you well and active<br>
  A healthy soul keeps you fullfilled and content<br>
  A healthy mind will help you find your way through life</h5>
  <h3 style="font-family:ebrima;">Who is Tammy?</h3>
  <p style="font-family:ebrima;">
  I am Personal Trainer, Sports Psychologist, Life Coach, Health Coach, Spiritual Coach and Music Coach.<br>
  Fitness is my great passion for 21 year now since I was 15 years old. It’s a way of my life.<br>
  With my knowledge of Sports Psychology I can help you all goals and beyond that.<br>
  As a good life coach I help people make progress in their lives in all areas.<br>
  Healthy living is finding balance between  the body, mind and spirit.<br>
  That is why I think that spirituality in life is important to.<br>
  Music is my outlet and my way of coming to terms.<br></p>
<br>  <p style="font-family:ebrima;">
<button>
 <h3> <p style="font-family:ebrima;"> <a href="https://tammyphysiquecom.wordpress.com/personal-training/">Personal Trainer</a></h3></button><br>
 <button><li><a href="https://www.facebook.com/TammyPhysiquePersonalTrainerandSportsPsychologist/photos/220380266197379">Transformation Program</a></button><br>
<button> <li><a href="https://www.facebook.com/TammyPhysiquePersonalTrainerandSportsPsychologist/photos/228453288723410">Energetic Exercise</a></li></button><br>
 <button> <li><a href="https://www.facebook.com/TammyPhysiquePersonalTrainerandSportsPsychologist/photos/250333049868767">Online Coaching</a></li></button><br>
<button><li><a href="https://www.facebook.com/TammyPhysiquePersonalTrainerandSportsPsychologist/photos/218612903040782">Personal Training</a></li>
</button><br><br>
<button><a href="https://tammyphysiquecom.wordpress.com/sports-psychologist/"><h3>Sports Psychologist</h3></a></button><br>
<button><li><a href="https://www.facebook.com/TammyPhysiquePersonalTrainerandSportsPsychologist/photos/393848798850524">Mental Toughness</a></li></button><br>
<button><li><a href="#">Confidence</a></li></button><br>
<button><li><a href="#">Self-esteem</a></li></button><br>
<button><li><a href="#">Motivation</a></li></button><br>
<button><li><a href="#">Perfectionism</a></li></button><br><br>

<button><a href="https://www.facebook.com/TammyPhysiqueLifeCoach" ><h3>Life Coach</h3></a></button><br>
<button> <li><a href="">Health & fitness</a></li></button><br>
<button><li><a href="#">Well being</a></li></button><br>
<button><li><a href="#">Environment</a></li></button><br>
<button><li><a href="#">Spiritual/Religion</a></li></button><br>
<button><li><a href="#">Social</a></li></button><br>
<button><li><a href="#">Career</a></li></button><br><br>
          
<button><a href="https://www.facebook.com/TammyPhysiqueHealthCoach"><h3>Healt Coach</h3></a></button><br>
<button><li><a href="https://www.facebook.com/TammyPhysiqueHealthCoach/photos/392478709206884">Health Coaching</a></li></button><br>
<button><li><a href="https://www.facebook.com/TammyPhysiqueHealthCoach/photos/188123666309057">Nutrition Schedule</a></li></button><br><br>
     
<button><a href="https://www.facebook.com/TammyPhysiqueSpiritualCoach"><h3>Spiritual Coach</h3></a></button><br>
<button> <li><a href="https://www.facebook.com/TammyPhysiqueSpiritualCoach/photos/a.241811707604502/294380345680971">Instant Sun</a></li></button><br>
<button><li><a href="https://www.facebook.com/TammyPhysiqueSpiritualCoach/photos/a.241811707604502/294383242347348">Golden Flame of Atlantis</a></li></button><br>
<button><li><a href="https://www.facebook.com/TammyPhysiqueSpiritualCoach/photos/a.241811707604502/241813194271020">Gold Star Seal</a></li></button><br>
<button><li><a href="https://www.facebook.com/TammyPhysiqueSpiritualCoach/photos/a.241811707604502/241811820937824">Full release Decree</a></li></button><br><br>

<button><a href="https://www.facebook.com/TammyPhysiqueMusicCoach"><h3>Music Coach</h3></a></button><br>
<button> <li><a href="https://www.facebook.com/TammyPhysiqueMusicCoach/guides/?filter=433378364673811">Soundcloud</a></li></button><br>
<button><li><a href="https://www.facebook.com/TammyPhysiqueMusicCoach/guides/?filter=236636611277039">Youtube</a></li></button><br>
<button><li><a href="https://www.facebook.com/TammyPhysiqueMusicCoach/guides/?filter=1130982287357418">ReverBnation</a></li></button><br></p>

<h3><p style="font-family:ebrima;">More about me</h3>
<p style="font-family:ebrima;">
 What is important to me is the total picture. Body, mind and spirit must work together,if one stagnates then the other stagnates too. 
It is my challenge to see where the bottlenecks lie and an even more fun challenge to get the gears turning again. 
It’s all about the right balance and the right mindset. 
I can help you with all your questions, whether you want to lose weight or gain weight, want to build fitness or grow muscle mass.  Diseases will not get in the way, there are alternatives for that too.

<b><p style="font-family:ebrima;"> Sports Psychologist</b>
<p style="font-family:ebrima;">
As a Sports Psychologist I support Athlete’s in developing the knowledge, skills, and ability’s for Sports Performance excellences.<br>
Scientific understanding of mental and emotional factors that contribute to the development and delivery of skilled athletic performance.<br>
Sports Performance Excellence means encapsulated consistent, excellent performance and also enjoyment, satisfaction, and well-being (mental, emotional, physical ad spiritual)<br>
Mental and emotional capacities often become the limiting factors in Athletic Performance.<br>
<h5><p style="font-family:ebrima;">Remember; Always think in succes!</h5>
<b><p style="font-family:ebrima;">Life Coach</b>

<h5><p style="font-family:ebrima;">You are never to old to set another goal or to dream a new dream.</h5>
<h5><p style="font-family:ebrima;">My Vision</h5>
<p style="font-family:ebrima;">
Each person holds so much power within themselves that needs to be let out.
Sometimes you need a little nudge, a little direction, a little support, a little coaching and the greatest things will happen.<br><br>
<h5><p style="font-family:ebrima;">My Mission</h5>
<p style="font-family:ebrima;">
I think it is very important to believe in yourself and to be fully empowered. 
Awaken the fire within yourself. Find a passion in life and let it be a motivation. 
Life is a precious gift, get as much out of it as possible.
I coach to shape personal, business and social matters where development and growth are central.

<b><p style="font-family:ebrima;">Health Coach</b>
        A healthy lifestyle is very important. <br>
        It can help prevent diseases and long-term illnesses. <br>
        Feeling good about yourself and taking care of your health are good for your self-esteem and self-image. <br>
        Maintain a healthy lifestyle by doing what is right for your body. <br>
        Your body is the temple and food is the fuel to run it. <br>
        It is up to you how you want it to run, energetic and smooth or laboriously with risk of disorders. <br>
        So many ailments are related to lack of a balanced diet.<br>
<br>
<h5><p style="font-family:ebrima;">What can I do for you?</h5>
  <p style="font-family:ebrima;">
    <li class="list-group-item">Guide you to a healthy lifestyle</li>
    <li class="list-group-item">Make a healthy nutrition schedule</li>
    <li class="list-group-item">Lose or gain weight</li>
    <li class="list-group-item">Increase performance and energy</li><br>
    <b><p style="font-family:ebrima;">Spiritual Coach</b>
      <p style="font-family:ebrima;">
         From an early age I have found animals and nature very fascinating.<br>
         I loved being in nature and I absolutely loved animals. Somehow I always drew animals to me. <br>
         Both pets and animals in nature. Although I have a good relationship with animals, I wanted to learn more from it. <br>
         I would like to know what goes on in an animal. What would an animal think and would people be able to communicate with animals.<br>
         I started to study this and followed several courses to recognize behavior and to learn to communicate with animals.<br>
         What I also find very fascinating is nature and all its magical elements. <br>
         Nature offers us not only oxygen and food but there is more, all kinds of herbs and plants that support us in good health <br> and which can also be used as medicine, the sun and the moon with their magical powers, gemstones and their powers <br>
         but it also brings us a lot of peace. Nature offers us beautiful places where we can find our peace and sometimes ourselves.<br>
<br>
By having followed various courses and training I have discovered that I am extremely sensitive and therefore have a lot in me. <br>
On the one hand, I thought it was a bit scary but at the same time very special to have these gifts and I started taking more courses to gain as much knowledge as possible.
<br>
Due to my high sensitivity, I have several channels open. Clear-knowing, clair-feeling, clair-smelling, clairvoyant, <br>
I have a strong intuition and can take the patient.<br>
<br>
Through heroic knowledge, angels can give promptings through my subconscious so that I spontaneously know things. <br>
If I have a question or a problem, an answer or idea spontaneously comes in that I wouldn’t have thought of myself.<br>
<br>
I can sense things very well through clairsentience. <br>
I can sense when something is about to happen, I can sense the emotion and pain of others. <br>
I can sense if something or a situation or person is bad or good for me, for example.<br>
I can see things through clairvoyance. This can be anything, it can be people, animals or objects. <br>
I also get visions.<br>
<br>
My intuition is very strong, which also has to do with clairvoyance, but this also makes it possible for me to communicate with animals.
<br><br>
<b><p style="font-family:ebrima;">Music Coach</b>

I never came to the idea to make music till 5 years ago. <br>
I needed a outlet and needed something to process my emotions as exercise was just not possible. <br>
I have never made music and I didn’t know where to start but had music therapy from the best. <br>
From zero to making my own beats, writing my own songs, singing them, composing it and producing my music. <br>
I do everything myself. <br>
<br>
Want to learn how to make music?<br>
<br>
Write it off, say what you want to say and make money?<br>
<br>
I can help you!<Br>
<br>
I can help you write music, make music, compose music and produce music.<br>
<br>
Ask me how.<br>
<br>
<h5><p style="font-family:ebrima;">SoundCloud</h5>
<p style="font-family:ebrima;">
<button><a href="https://m.soundcloud.com/tammy-physique-803634779">Tammy Physique 1</a> </button>
<br>
<button><a href="https://m.soundcloud.com/user-212807674">Tammy Physique 2</a> </button>
<br>
<button><a href="https://m.soundcloud.com/tammy-physique">Tammy Physique 3</a></button>
<br>
<button><a href="https://m.soundcloud.com/user-112083048">Tammy Physique 4</a></button>
<br>
<h5><p style="font-family:ebrima;">Youtube</h5>
<p style="font-family:ebrima;">
<button><a href="https://m.youtube.com/channel/UCa-gMaoXO7VE6MEUV_RlltQ">Tammy Physique 1</a></button>
<br>
<button><a href="https://m.youtube.com/channel/UCrqZnlHKsbxGzTGcKQxBejQ">Tammy Physique 2</a></button>
<br>
<button><a href="https://m.youtube.com/channel/UC4ovMOGpTTqYx2YbezvwwHQ">Tammy Physique 3</a></button><br><br>
<h5><p style="font-family:ebrima;">ReverBnation</h5>
<p style="font-family:ebrima;">
  <button><a href="https://www.reverbnation.com/tammyphysique1">Tammy Physique 1</a></button>
<br>
<button><a href="https://www.reverbnation.com/tammyphysique">Tammy Physique 2</a></button>
<br>
<button><a href="https://www.reverbnation.com/tammyphysique9">Tammy Physique 3</a></button>
<br><br><b>Contact:
<br><p style="font-family:ebrima;">
<b>Phone:+31641861355<br>
<b>E-mail:TammyPhysiquePT@gmail.com<br>
<b>Facebook: Tammy Physique<br>
<b>Instagram: TammyPhysiquePT<br> 
<b>Twitter: TammyPhysiue<br>
<b>Snapchat: Tammyphysique<br>

